html {
    background-color: #393b3d;
    color: #CCCCCC;
}

body {
    background-color: #232628;
    margin: 1px;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
}

p {
    padding-left: 1em;
}

.content {
    margin: 1em;
}

.control-link, .file-link {
    color: #6699cc;
}

.copy-link {
    color: #6699cc;
    font-size: 0.8em;
}

.key {
    color: #cc99cc;
    font-weight: bold;
}

.header {
    color: #99cc99;
}

.divider {
    padding: 1px;
    margin: 2em 3em;
    background-color: #393b3d;
}
