html {
    background-color: #393b3d;
    color: #CCCCCC;
}

body {
    background-color: #232628;
    margin: 1px;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #99cc99;
    font-size: 1.2em;
}

p {
    padding-left: 1em;
}

.content {
    margin: 1em;
}

.divider {
    padding: 1px;
    margin: 1em 3em;
    background-color: #393b3d;
}

.key {
    color: #cc99cc;
    font-weight: bold;
}

.link {
    color: #6699cc;
}

.small {
    font-size: 0.8em;
}

/* Color Specific style */
.delete {
    background-color: #c82829;
    color: #333333;
}

.add {
    background-color: #718c00;
    color: #333333;
}

.color-value {
    color: #F99157;
}

.color-key {
    color: #6699CC;
}
