html {
    background-color: #393b3d;
    color: #CCCCCC;
}

body {
    background-color: #232628;
    margin: 1px;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #99cc99;
    font-size: 1.2em;
}

p {
    padding-left: 1em;
}

a {
    color: #6699cc;
}

.content {
    margin: 1em;
}

.divider {
    padding: 1px;
    margin: 1em 3em;
    background-color: #393b3d;
}

.small {
    font-size: 0.8em;
}

.comment {
    color: #888888;
}

.keyword {
    color: #cc99cc;
}

.attention, .important {
    color: #66CCCC;
}

.caution, .warning {
    color: #F99157;
}

.danger, .error {
    color: #F2777A;
}

.hint, .tip {
    color: #99cc99;
}

.note {
    color: #FFCC66;
}

/* Color Specific style */
.color-value {
    color: #F99157;
}

.color-key {
    color: #6699CC;
}
