html {
    background-color: #e6f5ff;
    color: #4d4d4c;
}

body {
    background-color: #fcfcfc;
    margin: 1px;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #718c00;
    font-size: 1.2em;
}

p {
    padding-left: 1em;
}

a {
    color: #3e999f;
}

.content {
    margin: 1em;
}

.divider {
    padding: 1px;
    margin: 2em 3em;
    background-color: #e6f5ff;
}

.key {
    color: #8959a8;
    font-weight: bold;
}

.small {
    font-size: 0.8em;
}

/* Color Specific style */
.delete {
    background-color: #c82829;
    color: #cccccc;
}

.add {
    background-color: #718c00;
    color: #cccccc;
}

.color-value {
    color: #f5871f;
}

.color-key {
    color: #4271ae;
}
