<div class="menu" markdown="1">
[&#215;]({{plugin.cancel}}){.close}
[CSS Color Names](__colornames__)
[Tools](__tools__)
</div>

<div class="panel center" markdown="1">
{{plugin.color_picker}}
{{plugin.current_color}}

---

{{plugin.color_display}}

{{plugin.channel_1}}

{{plugin.channel_2}}

{{plugin.channel_3}}

{{plugin.channel_alpha}}

[sRGB](__space__:srgb){: .button} [HSL](__space__:hsl){: .button} [HWB](__space__:hwb){: .button}

---

[Select](__insert__:{{plugin.color_value}}){: .button}
</div>
