/// html | div.menu
{% if plugin.delete %}
[&#215;]({{plugin.back}}:{{plugin.palette_type}}:{{plugin.palette_name}}){.close}
{%- else %}
[&#215;]({{plugin.back}}){.close}
{%- endif %}
{%- if plugin.show_delete_menu %}
[Delete](__delete_colors__:{{plugin.palette_type}}:{{plugin.palette_name}})
{% endif %}
///

/// html | div.panel
{%- if plugin.delete %}
Click the color to delete.

---

{%- endif %}

{{plugin.colors}}
///
