<div class="menu" markdown="1">

[&#215;](__close__){ .close}
[Convert](__insert__:{{plugin.generic_color}}:__info__)
{% if plugin.show_picker_menu -%}
[Picker](__color_picker__:{{plugin.generic_color}})
{% endif -%}
[Tools](__tools__:{{plugin.edit_color}})
{% if plugin.show_palette_menu -%}
[Palettes](__palettes__)
{% endif -%}
{% if plugin.show_global_palette_menu -%}
[Save](__add_color__:{{plugin.generic_color}})
{% endif -%}

</div>

<div class="panel" markdown="1">

<div class="color-value" markdown="1">

{{plugin.current_color}}
{% if plugin.show_favorite_menu and plugin.is_marked -%}
[&#9829;](__remove_fav__:{{plugin.generic_color}} "Remove from Favorites"){ .button .right .transparent}
{% elif plugin.show_favorite_menu and not plugin.is_marked -%}
[&#9825;](__add_fav__:{{plugin.generic_color}} "Save to Favorites"){ .button .right .transparent}
{%- endif %}
</div>
{% if plugin.click_color_picker %}
[{{plugin.color_preview}}](__color_picker__:{{plugin.generic_color}})
{%- elif plugin.click_color_edit %}
[{{plugin.color_preview}}](__tool__:{{plugin.edit}})
{%- elif plugin.click_color_contrast %}
[{{plugin.color_preview}}](__tool__:__contrast__)
{%- elif plugin.click_palette_picker %}
[{{plugin.color_preview}}](__palettes__)
{%- else %}
{{plugin.color_preview}}
{%- endif %}
{%- if plugin.color_preview_message %}
{{plugin.color_preview_message}}
{%- endif %}

</div>
