<div class="menu" markdown="1">

[&#215;](__close__){ .close}
{% if plugin.show_picker_menu -%}
[Picker](__color_picker__:{{plugin.generic_color}})
{% endif -%}
{% if plugin.show_palette_menu -%}
[Palettes](__palettes__)
{% endif -%}
[Tools](__tools__:{{plugin.edit_color}})

</div>

<div class="panel" markdown="1">

{% if plugin.click_color_picker %}
[{{plugin.color_preview}}](__color_picker__:{{plugin.generic_color}})
{%- elif plugin.click_color_edit %}
[{{plugin.color_preview}}](__tool__:{{plugin.edit}})
{%- elif plugin.click_color_contrast %}
[{{plugin.color_preview}}](__tool__:__contrast__)
{%- elif plugin.click_palette_picker %}
[{{plugin.color_preview}}](__palettes__)
{%- else %}
{{plugin.color_preview}}
{%- endif %}
{%- if plugin.color_preview_message %}
{{plugin.color_preview_message}}
{%- endif %}

---
[Convert](__insert__:{{plugin.generic_color}}:__info__){ .button}
{{plugin.current_color}}
{%- if plugin.show_favorite_menu and plugin.is_marked %}
[&#9829;](__remove_fav__:{{plugin.mark_color}} "Remove from Favorites"){ .fav}
{%- elif plugin.show_favorite_menu and not plugin.is_marked %}
[&#9829;](__add_fav__:{{plugin.mark_color}} "Save to Favorites"){ .fav .unselected}
{%- endif %}
</div>
