{% if plugin.show_picker_menu -%}
[picker](__color_picker__:{{plugin.generic_color}}){: .small} 
{% endif -%}
[tools](__tools__:{{plugin.edit_color}}){: .small} 
{% if plugin.show_palette_menu -%} 
[palettes](__palettes__){: .small} 
{% endif -%}
{% if plugin.show_global_palette_menu -%} 
[add](__add_color__:{{plugin.generic_color}}){: .small} 
{% endif -%}
{% if plugin.show_favorite_menu and plugin.is_marked -%}
[unmark](__remove_fav__:{{plugin.generic_color}}){: .small} 
{% elif plugin.show_favorite_menu and not plugin.is_marked -%}
[mark](__add_fav__:{{plugin.generic_color}}){: .small}
{%- endif %}

### {{plugin.current_color}}

{%- if plugin.click_color_picker %}
[{{plugin.color_preview}}](__color_picker__:{{plugin.generic_color}})
{%- elif plugin.click_color_edit %}
[{{plugin.color_preview}}](__tool__:{{plugin.edit}})
{%- elif plugin.click_color_contrast %}
[{{plugin.color_preview}}](__tool__:__contrast__)
{%- elif plugin.click_palette_picker %}
[{{plugin.color_preview}}](__palettes__)
{%- else %}
{{plugin.color_preview}}
{%- endif %}
{%- if plugin.color_preview_message %}
{{plugin.color_preview_message}}
{%- endif %}

---

[convert](__insert__:{{plugin.generic_color}}:__info__){: .small}
