<div class="menu" markdown="1">
{% if plugin.dialog_type not in ("__info__", "__color_picker__") and not plugin.dialog_type.startswith('__tool__:') %}
[&#215;](__colors__:{{plugin.dialog_type}}:{{plugin.palette_name}}){.close}
{% elif plugin.dialog_type == "__info__" %}
[&#215;](__info__){.close}
{% elif plugin.dialog_type == "__color_picker__" %}
[&#215;]({{plugin.dialog_type}}:{{plugin.current_color}}){.close}
{% else %}
[&#215;]({{plugin.dialog_type}}:{{plugin.tool_color}}){.close}
{% endif %}
</div>

<div class="panel" markdown="1">
{% for output in plugin.outputs %}
[Insert](__convert__:{{output[0]}}){: .button} [Copy](__copy__:{{output[0]}}){.button} {{output[1]}} 

{% endfor %}
</div>
