[back]({{plugin.back_target}}){: {{plugin.legacy}}.small} 
{% if plugin.show_picker_menu -%}
[picker](__color_picker__:{{plugin.color}}){: {{plugin.legacy}}.small} 
{% endif -%}
{% if plugin.show_delete_menu -%}
[delete](__delete__palettes__){: {{plugin.legacy}}.small} 
{%- endif %}
{%- if plugin.show_delete_ui %}

## Delete Palette
Click the palette to delete.
{%- elif plugin.show_new_ui %}
## New Palette
Click the link or palette to add **{{plugin.color}}**{: .keyword}.

[Create New Palette](__create_palette__:__global__:{{plugin.color}})

[Create New Project Palette](__create_palette__:__project__:{{plugin.color}})
{%- endif %}
{%- if plugin.show_favorite_palette %}
{{plugin.favorite_palette}}
{%- endif %}
{%- if plugin.show_current_palette %}
{{plugin.current_palette}}
{%- endif %}
{%- if plugin.show_separator %}

---

{% endif -%}
{% for palette in plugin.global_palettes %}
{{palette}}
{% endfor %}
{%- if plugin.show_project_separator %}

---

{% endif -%}
{% for palette in plugin.project_palettes %}
{{palette}}
{% endfor %}
