span {
    color: red;
    color: orange;
    color: yellow;
    color: green;
    color: blue;
    color: indigo;
    color: violet;

    color: #ff0000;
    color: #ffa500ff;
    color: rgb(255, 255, 0);
    color: rgba(0, 128, 0, 100%);
    color: hsl(240, 100%, 50%);
    color: hsla(274.62, 100%, 25.49%, 100%);
    color: hwb(300 50.98 6.6667);

    color: color(srgb 1 0 0);
    color: color(srgb 1 0.64706 0 / 1);
    color: color(a98-rgb 1 1 0.23442);
    color: color(display-p3 0.21604 0.49418 0.13151);
    color: color(display-p3-linear 0 0 0.91052);
    color: color(rec2020 0.29596 0.12947 0.51254);
    color: color(srgb-linear 0.85499 0.22322 0.85499);

    color: color(xyz-d65 0.41239 0.21264 0.01933);
    color: color(xyz-d50 0.58098 0.49223 0.05045);
    color: lab(97.607 -15.75 93.394);
    color: lch(46.278 67.984 134.38);
    color: oklab(0.45201 -0.03246 -0.31153);
    color: oklch(0.33899 0.17927 301.69);
}
